!!!

%script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'}
%script{src: '/javascripts/underscore-min.js'}
%script{src: '/javascripts/d3.v2.js'}
%script{src: '/javascripts/cubism.v1.js'}
%script{src: '/javascripts/client.js'}

%h1 hi
#connections
 %span.count 0
 connections

